*.pdf
books/
أجاثا كريستى/
الروايات العالمية المترجمة/
القصص العالمية المترجمة/
الكتب الحاصلة على جائزة نوبل/
الكتب العالمية المترجمة/
ستيفن كينغ/
سلسلة مغامرات شيرلوك هولمز/
قهوة غرب 8/
.claude/
__pycache__/
*.pyc
